RewriteEngine On

# /token/<id>  ->  /archive/token?id=<id>
RewriteRule ^token/(.*)$ /archive/token/?id=$1 [R,L]

# /archive/<id>  ->  /archive/token?id=<id>
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^archive/(.*)$ /archive/token/?id=$1 [R,L]

# /generate/<auth>  ->  /generate?auth=<auth>
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^generate/(.*)$ /generate/?auth=$1 [R,L]
